{%- set css = "/_includes/main-intro/style.css" -%}
{% css page,
css %}
{%- set utilsCSS = "/_includes/utils.css" -%}
{% css page,
utilsCSS %}

<div class="{% className css, 'root' %}">
  <div class="{% className css, 'conf-detail' %}">
    <p>
      <span class="{% className css, 'date' %}">
        <span class="{% className css, 'month' %}">{% confDate conf.start,
          'MMMM' %}</span>
        <span class="{% className css, 'no-wrap' %}">
          <time datetime="{% isoDate conf.start %}">{% confDate conf.start,
            'DD' %}</time>-<time datetime="{% isoDate conf.end %}">{% confDate conf.end,
            'DD' %}</time>
        </span>
      </span>
      <span target="_blank" class="{% className css, 'location-main' %}">Virtual conference</span>
      <span class="{% className css, 'location-sub' %}">Wherever You Are</span>
    </p>
    <div class="{% className css, 'about' %}">
      <p>
        Welcome to <strong>Chrome Dev Summit 2020</strong>!
      </p>
      <p>Over the next two days, we’ll take you through the latest updates coming to the web platform and its tools through byte-size sessions, bonus deepdive content and live Q&A with Googlers on YouTube chat.</p>
    </div>
  </div>
  <div class="{% className css, 'art-outer' %}">
    <div class="{% className css, 'art' %}"></div>
  </div>
</div>
