{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set css = "/_includes/previously/style.css" -%}
{% css page, css %}
{%- set contentCSS = "/_includes/content.css" -%}
{% css page, contentCSS %}
{%- set carouselCss = "/_includes/carousel/style.css" -%}
{% css page, carouselCss %}

{%- set utilsCSS = "/_includes/utils.css" -%}
{% css page, utilsCSS %}

{% macro imageTag(image) %}
  <img decoding="async" alt="{{ image.alt }}" loading="lazy" src="confboxAsset(/_includes/previously/assets/{{ image.url }}.jpg)">
{% endmacro %}

<section class="{% className moduleCSS, 'section' %} {% className css, 'section' %}">
  <div class="{% className contentCSS, 'content-area' %}">

    {% set carouselId%}{% className css, 'carousel' %}{% endset %}

    <div class="{% className css, 'heading-nav' %}">
      <h2 class="{% className contentCSS, 'section-heading' %}">Highlights from past summits</h2>
    </div>

    {% carousel carouselId %}
      {% for previousSummit in collections.previousSummits %}
        {% carouselSlide %}
          <article>
              <div class="{% className utilsCSS, 'aspect-ratio' %}" style="--aspect-ratio: calc(16/9)">
                <a href="https://www.youtube.com/playlist?list={{ previousSummit.data.youtubeId }}" target="_blank" rel="noopener noreferrer">
                    <img class="{% className utilsCSS, 'media-fill' %}"
                         src="confboxAsset('/assets/{{ previousSummit.data.thumbnail }}')"
                         loading="lazy"
                         alt="placeholder">
                </a>
              </div>

            <header>
              {{ previousSummit.data.title }} {{ previousSummit.data.year }}
            </header>
            <footer>
              {{ previousSummit.data.videos }} videos
            </footer>
          </article>
        {% endcarouselSlide %}
      {% endfor %}
    {% endcarousel %}
  </div>
</section>
