.section {
  overflow: hidden;
}

.carousel {
  article {
    header {
      font-weight: 500;
    }

    header,
    footer {
      line-height: 1.52rem;
    }
  }
}

.heading-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  > p,
  > h2 {
    margin-bottom: 0;
  }
}

.previous-summit-link {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin: 3px 3px 1.66rem;
}
