.section {
  overflow: hidden;

  article img {
    border-radius: 10px;
  }
}

.carousel {
  article {
    > div {
      margin-bottom: 1.66rem;
    }

    header {
      font-weight: 500;
    }

    header,
    footer {
      line-height: 1.52rem;
    }
  }
}

.heading-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  > p,
  > h2 {
    margin-bottom: 0;
  }
}
