{% extends 'layouts/fifty-fifty-module/index.njk' %}

{%- set reverseColsMobile = true -%}
{%- set centerVertically = true -%}
{%- set keynoteCss = "/_includes/keynote/style.css" -%}
{%- set buttonCss = "/_includes/button.css" -%}

{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}

{%- set utilsCSS = "/_includes/utils.css" -%}
{% css page, utilsCSS %}

{% block left %}
  {% css page, keynoteCss %}
  {% css page, buttonCss %}

  <h1 class="{% className keynoteCss, 'heading' %}">Discover. Connect. Inspire. <br/> Get ready for CDS 2021!</h1>

  <p>
    Chrome Dev Summit 2021 is almost here — ready to see what’s on the agenda? We’ll kick off with an exciting keynote and live “ask me anything” (AMA). You’ll have a chance to attend workshops and learning lounges with engineers and industry experts, receive one-on-one support during office hours, and <a href="{{conf.liveChatLink}}" rel="noopener noreferrer" target="_blank">chat live</a> 24/7 with Googlers and other developers throughout the event.
  </p>

  <p>
    The keynote and AMA are open to all, but space is limited for the workshops, office hours, and learning lounges. Check out the schedule and request an invite to grab your spot — we’ll see you on November 3!
  </p>

  <div class="{% className keynoteCss, 'ctas' %}">
    <div>
      <a href="{{conf.path}}schedule/"
         rel="noopener noreferrer"
         target="_blank"
         class="{% className buttonCss, 'button' %} {% className keynoteCss, 'button' %}">
        View the schedule
      </a>
      <p>Log in with your Google account</p>
    </div>
    {% set icslink = "fullevent.ics?2021-3" %}
    <a href="https://calendar.google.com/calendar/r?cid={{conf.webcalOrigin}}{{conf.path}}{{icslink}}" target="_blank" rel="noopener noreferrer">
      Add to calendar
    </a>
  </div>
{% endblock %}

{% block right %}
  <article class="{% className keynoteCss, 'card' %}">
    <a href="{{ conf.requestInviteLink }}" target="_blank">
      <div>
        <h2 class="{% className keynoteCss, 'title' %}">Ask a question</h2>
        <p class="{% className moduleCSS, 'subheading' %}">Ask Google leaders your burning questions about building great web experiences.</p>
      </div>

      <div class="{% className keynoteCss, 'footer-container' %}">
        <span class="{% className keynoteCss, 'footer' %}">Submit your question</span>

        <picture>
          <source media="(prefers-color-scheme: dark)" srcset="confboxAsset('/assets/ic_link.svg')">
          <img src="confboxAsset('/assets/ic_link-black.svg')"
               height="24px"
               width="24px"
               alt="Ask a question"
               loading="lazy"
          />
        </picture>
      </div>
    </a>
  </article>
{% endblock %}
