{% extends 'layouts/fifty-fifty-module/index.njk' %}

{%- set reverseColsMobile = true -%}
{%- set centerVertically = true -%}

{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}

{%- set utilsCSS = "/_includes/utils.css" -%}
{% css page, utilsCSS %}

{% block left %}
  {%- set keynoteCss = "/_includes/keynote/style.css" -%}
  {% css page, keynoteCss %}

  {%- set buttonCss = "/_includes/button.css" -%}
  {% css page, buttonCss %}

  <h1 class="{% className keynoteCss, 'heading' %}">Discover. Connect. Inspire. <br/> Get ready for CDS 2021!</h1>

  <p>
    Chrome Dev Summit 2021 is almost here — ready to see what’s on the agenda? We’ll kick off with an exciting keynote and live “ask me anything” (AMA). You’ll have a chance to attend workshops and learning lounges with engineers and industry experts, receive one-on-one support during office hours, and <a href="{{conf.liveChatLink}}" rel="noopener noreferrer" target="_blank">chat live</a> 24/7 with Googlers and other developers throughout the event.
  </p>

  <p>
    The keynote and AMA are open to all, but space is limited for the workshops, office hours, and learning lounges. Check out the schedule and request an invite to grab your spot — we’ll see you on November 3!
  </p>

  <div class="{% className keynoteCss, 'ctas' %}">
    <div>
      <a href="{{conf.path}}schedule/"
         rel="noopener noreferrer"
         target="_blank"
         class="{% className buttonCss, 'button' %} {% className keynoteCss, 'button' %}">
        View the schedule
      </a>
      <p>Log in with your Google account</p>
    </div>
    {% set icslink = "fullevent.ics?2021-3" %}
    <a href="https://calendar.google.com/calendar/r?cid={{conf.webcalOrigin}}{{conf.path}}{{icslink}}" target="_blank" rel="noopener noreferrer">
      Add to calendar
    </a>
  </div>
{% endblock %}

{% block right %}
  {%- set keynoteCss = "/_includes/keynote/style.css" -%}
  {% css page, keynoteCss %}

  <div class="{% className utilsCSS, 'aspect-ratio' %} {% className keynoteCss, 'media' %}" style="--aspect-ratio: calc(165/150)">
    <picture>
      <source media="(prefers-color-scheme: dark)" srcset="confboxAsset('/assets/hero-darkmode.svg')">
      <img class="{% className utilsCSS, 'media-fill' %}" src="confboxAsset('/assets/hero.svg')" alt="CDS 2021">
    </picture>
  </div>
{% endblock %}
