{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}

{%- set css = "/_includes/keynote/style.css" -%}
{% css page, css %}

<section class="{% className moduleCSS, 'section' %}">
  {% include 'keynote/content.njk' %}
</section>
