@import '../../_includes/card/style.css';

.heading {
  font: 1.5rem 'Google Sans', roboto, sans-serif;
  color: var(--black);
  margin-top: 0;
  letter-spacing: -0.56px;
  line-height: 2.23rem;
  font-weight: 500;
  margin-bottom: 1.94rem;

  @media (min-width: 375px) {
    font-size: 1.54rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.54rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.64rem;
  }

  @media (min-width: 1600px) {
    letter-spacing: -1.16px;
    font-size: 2.7rem;
    line-height: 3.23rem;
  }
}

.ctas {
  display: flex;
  align-items: center;
  margin-top: 1.94rem;
  margin-bottom: 3.4rem;

  > div {
    position: relative;

    a {
      display: block;
    }

    p {
      margin: 0.58rem 0 0;
      font-size: 0.7rem;
      line-height: 1rem;
      color: var(--midgrey);
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(50%);

      @media (min-width: 1024px) {
        font-size: 0.59rem;
        line-height: 0.8rem;
      }

      @media (min-width: 1600px) {
        font-size: 0.71rem;
      }
    }
  }

  & a:not(.button) {
    font-size: 0.94rem;
    text-decoration: none;
    margin: 0 1rem 0 1.75rem;
    font-family: 'Google Sans', roboto, sans-serif;
    font-weight: 500;

    @media (min-width: 1024px) {
      font-size: 0.75rem;
    }

    @media (min-width: 1600px) {
      font-size: 0.9rem;
      margin-left: 2rem;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  @media (min-width: 1024px) {
    display: inline-flex;
    margin-top: 2.28rem;
    margin-bottom: 0;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;

  img {
    display: block;
    width: auto;
  }

  @media (min-width: 320px) {
    img {
      height: 18px;
    }
  }

  @media (min-width: 1600px) {
    img {
      height: 24px;
    }
  }
}

.footer {
  letter-spacing: 0;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 0.9rem;
    line-height: 1.14rem;
  }
}
