.grid {
  display: grid;
  grid-gap: 2.28rem;

  &[cols='6'] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    &[cols='2'] {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &[cols='3'] {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &[cols='6'] {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 1440px) {
    &[cols='6'] {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
