.grid {
  display: grid;
  grid-gap: 2.28rem;

  @media (min-width: 1024px) {
    &[cols='2'] {
      grid-template-columns: 1fr 1fr;
    }

    &[cols='3'] {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
