{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set aboutCSS = "/_includes/about/style.css" -%}
{% css page, aboutCSS %}

<section class="{% className moduleCSS, 'root-alt' %} {% className mediaCSS, 'root' %} {% className aboutCSS, 'root' %}">
  {% from 'squiggle-banner/index.njk' import squiggleTop %}
  {{ squiggleTop(page, gray=true) }}
  <div class="{% className mediaCSS, 'media' %} {% className aboutCSS, 'media' %}">
    {%- set utilsCSS = "/_includes/utils.css" -%}
    {% css page, utilsCSS %}
    <div class="{% className utilsCSS, 'aspect-ratio' %} {% className aboutCSS, 'livestream' %}" style="--aspect-ratio: calc(16/9)">
      <iframe class="{% className utilsCSS, 'media-fill' %}" src="https://www.youtube.com/embed/7Kfh-Mem1b8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
  <div class="{% className mediaCSS, 'main' %}">
    <h1 id="livestream" class="{% className moduleCSS, 'heading' %}">{% headingSlug "About" %}</h1>
    <p>Welcome to Chrome Dev Summit 2020!</p>
    <p>
      Over the next two days, we’ll take you through the latest updates coming to the web platform
      and its tools through byte-size sessions, bonus deepdive content and live Q&A with Googlers
      on YouTube chat.
    </p>
    <p>
      Experience an event like never before with <a href="{{conf.path}}adventure/">CDS Adventure</a>
      - an experimental virtual world where you can interact with Googlers and other developers,
      check out demos and codelabs, earn virtual swag and bump into some fun surprises!
    </p>

  </div>
</section>
