{% extends 'layouts/main/index.njk' %}

{%- set moduleCSS = "/_includes/module.css" -%}
{%- set css = "/_includes/layouts/schedule/style.css" -%}

{% block beforeContent %}
    {% css page, moduleCSS %}
    {% css page, css %}

    <section class="{% className moduleCSS, 'root' %} {% className css, 'header' %}">
        <header>
            <nav>
                <a href="{{conf.path}}schedule/keynote">Keynote</a>
                <a href="{{conf.path}}schedule/keynote">AMA</a>
                <a href="{{conf.path}}schedule/keynote">Office hours</a>
                <a href="{{conf.path}}schedule/keynote">Workshops</a>
                <a href="{{conf.path}}schedule/keynote">Learning lounge</a>
            </nav>

            <h1 class="{% className moduleCSS, 'heading' %}">{{ title | safe}}</h1>
            <p class="{% className moduleCSS, 'subheading' %}">{{ subtitle | safe }}</p>
        </header>
    </section>
{% endblock %}

{% block content %}
    <section class="{% className moduleCSS, 'root' %}">
        Here
    </section>
{% endblock %}
