{%- set css = "/_includes/timezone-toggle/style.css" -%}
{% css page, css %}
{%- set toggleCSS = "/_includes/toggle.css" -%}
{% css page, toggleCSS %}

<section>
  <form class="{% className toggleCSS, 'root' %} {% className css, 'root' %}">
    <label class="{% className toggleCSS, 'label' %} js-venue-time">
      <input name="timezone" type="radio" class="{% className toggleCSS, 'radio' %}" checked>
      <span class="{% className toggleCSS, 'fake-label' %}">
        <span>Event time <span class="{% className css, 'zone' %}"></span></span>
      </span>
    </label>
    <label class="{% className toggleCSS, 'label' %} js-your-time">
      <input name="timezone" type="radio" class="{% className toggleCSS, 'radio' %}">
      <span class="{% className toggleCSS, 'fake-label' %}">
        <span>Your time <span class="{% className css, 'zone' %}"></span></span>
      </span>
    </label>
  </form>
  <script>
    {
      const form = document.currentScript.previousElementSibling;
      import('confboxAsset(/_includes/timezone-toggle/script/index.js)').then(
        ({ enhance }) => enhance(form)
      );
    }
  </script>
</section>
