{%- set moduleCSS = "/_includes/module.css" -%}
{% css page,moduleCSS %}
{%- set css = "/_includes/footer/style.css" -%}
{% css page,css %}

<footer class="{% className moduleCSS, 'root' %} {% className css, 'root' %}">
  <div>
    <div class="{% className css, 'logo-legal' %}">
      <div class="{% className css, 'logo' %}">
        <img src="confboxAsset(/_includes/footer/assets/google.svg)" alt="Google" loading="lazy">
      </div>

      <nav class="{% className css, 'legal' %}">
        <a href="https://policies.google.com/" rel="noopener noreferrer" target="_blank">Privacy &amp; Terms</a>
      </nav>
    </div>

    <ul class="{% className css, 'social' %}">
      <li>
        <a href="https://twitter.com/chromiumdev" rel="noopener noreferrer" target="_blank">
          <span class="{% className css, 'icon-mask' %} {% className css, 'icon-twitter' %}">Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/ChromeDevelopers" rel="noopener noreferrer" target="_blank">
          <span class="{% className css, 'icon-mask' %} {% className css, 'icon-youtube' %}">YouTube</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/GoogleChrome/devsummit" rel="noopener noreferrer" target="_blank">
          <span class="{% className css, 'icon-mask' %} {% className css, 'icon-github' %}" style="--icon: url(confboxAsset(/_includes/footer/assets/github.svg))">Source code</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
