.root {
  --icon-size: 1.41rem;
  padding: var(--side-margin);
  background: var(--footer-bg-color);
  position: absolute;
  bottom: 0;
  width: calc(100% - var(--side-margin) * 2);

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--footer-height);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a:hover {
    color: var(--darkgrey);
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }

  @media (min-width: 720px) {
    --icon-size: 1.09rem;

    padding-bottom: 0;
    padding-top: 0;
    > div {
      flex-direction: row;
      align-items: center;
    }
  }

  @media (max-width: 840px) {
    > div {
      --side-margin: 2.4rem;
    }
  }
}

.logo-legal {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 720px) {
    height: auto;
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  display: flex;
  margin: 0;
  img {
    width: 82px;
  }

  @media (min-width: 720px) {
    img {
      width: 70px;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;

  > li {
    margin: 0 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    line-height: var(--icon-size);
    height: var(--icon-size);
  }

  @media (min-width: 720px) {
    justify-content: flex-start;
  }
}

.legal {
  display: flex;
  transform: translateY(50%);
  a {
    font: normal 0.7rem 'Google Sans', roboto, sans-serif;
    font-weight: 500;
    color: var(--footer-link-color);
    text-decoration: none;

    &:hover {
      color: var(--lightlightgrey);
      text-decoration: none;
    }
  }

  @media (min-width: 720px) {
    transform: translateY(0);
    margin-left: 2.28rem;
    a {
      font-size: 0.8rem;
    }
  }
}

.icon,
.icon-mask {
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
  overflow: hidden;
  color: transparent;
}

.icon {
  background-image: var(--icon);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-mask {
  background: var(--white);
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }
}

.icon-twitter {
  --icon: url('confboxAsset(/_includes/footer/assets/twitter.svg)');
  &:hover {
    background-color: var(--lightlightgrey);
  }
}

.icon-youtube {
  --icon: url('confboxAsset(/_includes/footer/assets/youtube.svg)');
  &:hover {
    background-color: var(--lightlightgrey);
  }
}

.icon-email {
  --icon: url('confboxAsset(/_includes/footer/assets/email.svg)');
  &:hover {
    background-color: var(--lightlightgrey);
  }
}

.icon-github {
  --icon: url('confboxAsset(/_includes/footer/assets/github.svg)');
  &:hover {
    background-color: var(--lightlightgrey);
  }
}

.footer-nav {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  @media (min-width: 720px) {
    align-items: flex-end;
    padding-bottom: 8rem;
  }

  > a {
    color: var(--lightgrey);
    text-decoration: none;

    @media (min-width: 720px) {
      font-size: 0.7rem;
    }

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    @media (prefers-color-scheme: dark) {
      color: var(--grey);
    }
  }
}
