---
title: Ask me anything
abbreviatedTitle: AMA
subtitle: Ask Google leaders any questions you have about troubleshooting, building great web experiences, and the future of Chrome in this live ask-me-anything (AMA) session.
priority: 200
permalink: 'schedule/ama/index.html'
---
{% extends 'layouts/schedule/index.njk' %}

{% block afterTitles %}
    {%- set buttonCss = "/_includes/button.css" -%}
    {% css page, buttonCss %}

{#    <a href="#todo"#}
{#       target="_blank"#}
{#       rel="noopener noreferrer"#}
{#       class="{% className buttonCss, 'button' %}">#}
{#        Send a question#}
{#    </a>#}
{% endblock %}

{% block content %}
    {%- set contentCSS = "/_includes/content.css" -%}
    {% css page, contentCSS %}

    {%- set gridCss = "/_includes/grid.css" -%}
    {% css page, gridCss %}

    {%- set speakerCSS = "/_includes/speakers.css" -%}
    {% css page, speakerCSS %}

    <section class="{% className moduleCSS, 'section' %}">
        <h3 class="{% className contentCSS, 'section-heading' %}">Speakers</h3>

        <p class="{% className contentCSS, 'section-subheading' %}">Our AMA session speakers</p>

        <div class="{% className gridCss, 'grid' %}  {% className scheduleCss, 'avatar-grid' %}" cols="6">
            {%- for speaker in collections.amaSpeakers -%}
                {% set avatar = speaker.data.avatar %}
                <article>
                    <img src="confboxAsset({{ avatar if avatar else "/assets/speakers/default.svg" }})"
                         class="{% className speakerCSS, 'speaker-avatar' %}"
                         alt="{{ speaker.data.name }} avatar"
                         width="100%"
                         height="auto"
                         loading="lazy"/>

                    <p>{{ speaker.data.name }}</p>
                    <p>{{ speaker.data.title }}</p>
                </article>
            {%- endfor -%}
        </div>
    </section>
{% endblock %}
