---
title: Learning lounge
subtitle: We'll take you through the latest updates coming to the web platform and its tools through byte-size sessions, bonus deepdive content and live Q&A with Googlers on YouTube chat.
priority: 400
permalink: 'schedule/learning-lounge/index.html'
---
{% extends 'layouts/schedule/index.njk' %}

{% block afterTitles %}
    {%- set buttonCss = "/_includes/button.css" -%}
    {% css page, buttonCss %}

    <a href="#todo"
       rel="noopener noreferrer"
       target="_blank"
       class="{% className buttonCss, 'button' %}">Register</a>
{% endblock %}

{% block content %}
    {%- set contentCSS = "/_includes/content.css" -%}
    {% css page, contentCSS %}

    {%- set gridCss = "/_includes/grid.css" -%}
    {% css page, gridCss %}

    {%- set speakerCSS = "/_includes/speakers.css" -%}
    {% css page, speakerCSS %}

    {%- set cardCss = "/_includes/card/style.css" -%}
    {% css page, cardCss %}

    <section class="{% className moduleCSS, 'section' %}">
        <p>Pathways to improve your knowledge</p>

        <div class="{% className gridCss, 'grid' %}" cols="3">
            {%- for event in collections.learningLounge -%}
                {% card event.data.title, event.data.prettyType %}
                    <div>
                        <span class="{% className cardCss, 'footer' %}">
                          DAY 1, {% confDate event.data.start, 'hh:mm' %} – {% confDate event.data.end, 'hh:mm' %}
                        </span>
                    </div>
                {% endcard %}
            {%- endfor -%}
        </div>
    </section>
{% endblock %}
