---
title: Learning lounge
subtitle: We'll take you through the latest updates coming to the web platform and its tools through byte-size sessions, bonus deepdive content and live Q&A with Googlers on YouTube chat.
priority: 400
permalink: 'schedule/learning-lounge/index.html'
---
{% extends 'layouts/schedule/index.njk' %}
