---
title: Office hours
subtitle: Over the two days, we'll have Google engineers, product managers and developer advocates from various areas of expertise available for private office hours with developers.
priority: 300
permalink: 'schedule/office-hours/index.html'
---
{% extends 'layouts/schedule/index.njk' %}
