---
title: Workshops
subtitle: Hear from industry experts from across the web community to learn new skills ranging from PWA design and UX patterns to CSS.
priority: 400
permalink: 'schedule/workshops/index.html'
---
{% extends 'layouts/schedule/index.njk' %}

{% block afterTitles %}
    {%- set buttonCss = "/_includes/button.css" -%}
    {% css page, buttonCss %}

    <a href="#todo"
       rel="noopener noreferrer"
       target="_blank"
       class="{% className buttonCss, 'button' %}">Register</a>
{% endblock %}

{% block content %}
    {%- set contentCSS = "/_includes/content.css" -%}
    {% css page, contentCSS %}

    {%- set gridCss = "/_includes/grid.css" -%}
    {% css page, gridCss %}

    {%- set speakerCSS = "/_includes/speakers.css" -%}
    {% css page, speakerCSS %}

    {%- set cardCss = "/_includes/card/style.css" -%}
    {% css page, cardCss %}

    <section class="{% className moduleCSS, 'section' %}">
        <div>
            <div class="{% className scheduleCss, 'grid-header' %}">
                <p>Learn about the latest Chrome features</p>

                <div class="{% className scheduleCss, 'tz-switcher' %}">
                    {% include "timezone-toggle/index.njk" %}
                </div>
            </div>

            <div class="{% className gridCss, 'grid' %}" cols="3">
                {%- for event in collections.workshops -%}
                    {% set uri %}
                        {% eventUri event %}
                    {% endset %}

                    {% card event.data.title, event.data.prettyType, uri %}
                        <div>
                            <div class="{% className cardCss, 'avatars' %}">
                                {%- for speaker in event.data.speakers -%}
                                    {% set avatar = speaker.data.avatar %}
                                    <img src="confboxAsset({{ avatar if avatar else "/assets/speakers/default.svg" }})"
                                         class="{% className speakerCSS, 'speaker-avatar' %}"
                                         alt="{{ speaker.data.name }} avatar"
                                         loading="lazy"/>
                                {%- endfor -%}
                            </div>

                            <span class="{% className cardCss, 'footer' %}">
                              {% userFriendlyEventDate event %}
                            </span>
                        </div>
                    {% endcard %}
                {%- endfor -%}
            </div>
        </div>
    </section>
{% endblock %}
