---
title: Workshops
subtitle: We'll be running limited capacity hands-on workshops with leading expers from the community.  These workshops will take place over two days, on 7 & 8 December, 2021. Request an invite now to be considered for these sessions.
priority: 400
permalink: 'schedule/workshops/index.html'
---
{% extends 'layouts/schedule/index.njk' %}
