{% carousel 'learning-lounge-carousel', 3 %}
  {%- for event in collections.learningLounge -%}
    {% if (loop.index <= 6) %}
      {% carouselSlide %}
        {% set uri %}
          {% eventUri event %}
        {% endset %}

        {% card event.data.title, event.data.prettyType, uri %}
          <div>
            <span class="{% className cardCss, 'footer' %}">
              {% userFriendlyEventDate event %}
            </span>
          </div>
        {% endcard %}
      {% endcarouselSlide %}
    {% endif %}
  {%- endfor -%}
{% endcarousel %}
