{%- pageStart page -%}

{%- set fiftyFiftyCss = "/_includes/layouts/fifty-fifty-module/style.css" -%}
{% css page, fiftyFiftyCss %}

<div class="{% className fiftyFiftyCss, 'fifty-fifty' %}
            {% if reverseColsMobile %}{% className fiftyFiftyCss, 'reverse-mobile' %}{% endif %}
            {% if centerVertically %}{% className fiftyFiftyCss, 'center-vertically' %}{% endif %}">
  {% block before %}{% endblock %}
  <div class="{% block leftClass %}{% endblock %}">
    {% block left %}{% endblock %}
  </div>
  <div class="{% block rightClass %}{% endblock %}">
    {% block right %}{% endblock %}
  </div>
  {% block after %}{% endblock %}
</div>
