.fifty-fifty {
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 2.6rem;

    > div {
      width: calc(50% - 1.3rem);
    }
  }
}

.reverse-mobile {
  > div:last-child {
    margin-bottom: 3.5rem;
    order: -1;
  }

  @media (min-width: 1024px) {
    > div:last-child {
      margin-bottom: 0;
      order: initial;
    }
  }
}

.center-vertically {
  align-items: center;
}
