{% carousel 'office-hours-carousel', 3 %}
  {%- for event in officeHours -%}
    {% if (loop.index <= 6) %}
      {% set dateObj = {
        data: {
          start:event.start,
          end:event.end,
          timezone: event.timezone,
          region: event.region
        }
      } %}
      {% set uri = conf.path + event.permalink %}

      {% carouselSlide %}
        {% card event.title, event.prettyType, uri %}
          <div>
            <span class="{% className cardCss, 'footer' %}">
              {% userFriendlyEventDate dateObj %}
            </span>
          </div>
        {% endcard %}
      {% endcarouselSlide %}
    {% endif %}
  {%- endfor -%}
{% endcarousel %}
