{% carousel 'office-hours-carousel', 3 %}
  {%- for event in collections.officeHours -%}
    {% if (loop.index <= 6) %}
      {% carouselSlide %}
        {% set uri %}
          {% eventUri event %}
        {% endset %}

        {% card event.data.title, event.data.prettyType, uri %}
          <div>
            <span class="{% className cardCss, 'footer' %}">
              DAY 1, {% confDate event.data.start, 'hh:mm' %} – {% confDate event.data.end, 'hh:mm' %}
            </span>
          </div>
        {% endcard %}
      {% endcarouselSlide %}
    {% endif %}
  {%- endfor -%}
{% endcarousel %}
