---
pagination:
    data: officeHours
    size: 1
    alias: post
permalink: "{{ post.permalink }}"
---

{% extends 'layouts/event/index.njk' %}

{% set start = post.start  %}
{% set end = post.end  %}
{% set timezone = post.timezone  %}
{% set region = post.region  %}
{% set title = post.title  %}
{% set speakers = [] %}

{% block description %}
    <p>
        {{ post.description | safe }}
    </p>
{% endblock %}
