{% set utilsCSS = "/_includes/utils.css" %}
{% css page,utilsCSS %}

{% set css = "/_includes/header/style.css" %}
{% css page,css %}

{%- set menuCss = "/_includes/main-menu/style.css" -%}
{% css page, menuCss %}

{%- set accordionCss = "/_includes/accordion/style.css" -%}
{% css page, accordionCss %}

{% macro activeClass (subPageSlug) %}
  {% if page.fileSlug == subPageSlug %}
    {% className menuCss, 'active' %}
  {% endif %}
{% endmacro %}

<div class="{% className css, 'root' %}">
  <a class="{% className css, 'title' %}" href="{{conf.path}}">
    <div class="{% className css, 'logo-container' %}">
      <picture>
        <source media="(prefers-color-scheme: dark)" srcset="confboxAsset(/assets/cds_logo_mobile_darkmode.svg)">
        <img class="{% className css, 'logo-mobile' %}"
             src="confboxAsset(/assets/cds_logo_mobile.svg)"
             width="95"
             height="40.53"
             alt="Chrome Dev Summit">
      </picture>

      <picture>
        <source media="(prefers-color-scheme: dark)" srcset="confboxAsset(/assets/cds_logo_darkmode.svg)">
        <img class="{% className css, 'logo-desk' %}"
             src="confboxAsset(/assets/cds_logo.svg)"
             width="210"
             height="34"
             alt="Chrome Dev Summit">
      </picture>
    </div>
  </a>
  <div class="{% className css, 'extra-links' %}">
    <main-menu class="{% className menuCss, 'root' %}">
      <div class="{% className menuCss, 'has-sub-menu' %}" aria-haspopup="true">
        <span>Schedule</span>
        <picture>
          <source media="(prefers-color-scheme: dark)" srcset="confboxAsset('/assets/arrow_left.svg')">
          <img src="confboxAsset('/assets/arrow_left-black.svg')"
               width="10px"
               height="10px"
               alt="Show"
               loading="lazy"
          />
        </picture>

        <nav class="{% className menuCss, 'sub-menu' %}">
          <a href="{{conf.path}}schedule/"
             class="{{activeClass('schedule')}}">View all</a>

          {%- for subPage in collections.scheduleSubPages -%}
            {% set title = subPage.data.abbreviatedTitle if subPage.data.abbreviatedTitle else subPage.data.title %}

            <a href="{{conf.path}}schedule/{{ subPage.fileSlug }}"
               class="{{activeClass(subPage.fileSlug)}}">
              {{ title }}
            </a>
          {%- endfor -%}
        </nav>
      </div>
{#      <a href="{{conf.path}}learning-content/">Learning content</a>#}
      <a href="{{conf.path}}faqs/">FAQs</a>
      <a href="{{conf.path}}community-guidelines/">Guidelines</a>
{#      <a href="{{conf.path}}feedback/">Feedback</a>#}
{#      <a href="#todo" rel="noopener noreferrer" target="_blank" class="{% className menuCss, 'header-btn' %}">Join the conversation</a>#}
      <a href="{{conf.requestInviteLink}}" rel="noopener noreferrer" target="_blank" class="{% className menuCss, 'header-btn' %}">Request an invite</a>
      <button class="{% className menuCss, 'menu-toggle' %}" aria-label="Open menu"></button>

      <div class="{% className menuCss, 'mobile-menu' %}">
        <div class="{% className accordionCss, 'accordion' %}">
          <div accordion-item>
            <p class="{% className accordionCss, 'title' %}">
              Schedule

              <picture>
                <source media="(prefers-color-scheme: dark)" srcset="confboxAsset('/assets/arrow_left.svg')">
                <img src="confboxAsset('/assets/arrow_left-black.svg')"
                     alt="Show"
                     loading="lazy"
                />
              </picture>
            </p>

            <nav class="{% className menuCss, 'sub-menu-mobile' %}">
              <a href="{{conf.path}}schedule/"
                 class="{{activeClass('schedule')}}">View all</a>

              {%- for subPage in collections.scheduleSubPages -%}
                {% set title = subPage.data.abbreviatedTitle if subPage.data.abbreviatedTitle else subPage.data.title %}

                <a href="{{conf.path}}schedule/{{ subPage.fileSlug }}"
                   class="{{activeClass(subPage.fileSlug)}}">
                  {{ title }}
                </a>
              {%- endfor -%}
            </nav>
          </div>
        </div>
        <script>
          {
            const el = document.currentScript.previousElementSibling;
            import('confboxAsset(/_includes/accordion/script/index.js)').then(
                    ({ enhance }) => enhance(el)
            );
          }
        </script>
{#        <a href="{{conf.path}}learning-content/">Learning content</a>#}
        <a href="{{conf.path}}faqs/">FAQs</a>
        <a href="{{conf.path}}community-guidelines/">Guidelines</a>
{#        <a href="{{conf.path}}feedback/">Feedback</a>#}
{#        <a href="#todo" rel="noopener noreferrer" target="_blank" class="{% className menuCss, 'header-btn' %}">Join the conversation</a>#}
        <a href="{{conf.requestInviteLink}}" rel="noopener noreferrer" target="_blank" class="{% className menuCss, 'header-btn' %}">Request an invite</a>
      </div>
    </main-menu>
    <script>
      {
        const el = document.currentScript.previousElementSibling;
        el.classList.add('{% className menuCss, "js-enabled" %}');
      }
    </script>
  </div>
  <link rel="modulepreload" href="confboxAsset(/_includes/main-menu/script/index.js)" />
  <script type="module" async src="confboxAsset(/_includes/main-menu/script/index.js)"></script>
</div>
