{% set utilsCSS = "/_includes/utils.css" %}
{% css page,
utilsCSS %}
{% set css = "/_includes/header/style.css" %}
{% css page,
css %}

<div class="{% className css, 'root' %}">
  <a class="{% className css, 'title' %}" href="{{conf.path}}">
    <div class="{% className css, 'logo-container' %}">
      <div class="{% className utilsCSS, 'aspect-ratio' %}" style="--aspect-ratio: 1">
        <img class="{% className utilsCSS, 'media-fill' %}" src="confboxAsset(/assets/site-logo.png)" alt="">
      </div>
    </div>
    <div class="{% className css, 'title-text' %}">
      <div class="{% className css, 'title-main' %}">Chrome</div>
      <div class="{% className css, 'title-sub' %}">Dev Summit</div>
      <time class="{% className css, 'title-year' %}">{% confDate conf.start,
        'YYYY' %}</time>
    </div>
  </a>
  <div class="{% className css, 'extra-links' %}">
    <a href="{{conf.path}}schedule/">Talks</a>
    <a href="{{conf.path}}schedule/#learning-content">Learning Content</a>
    <a href="{{conf.path}}schedule/#extended">CDS Extended</a>
    <a href="{{conf.path}}faqs/">FAQs</a>
    <a href="{{conf.path}}community-guidelines/">Guidelines</a>
  </div>
  {% from 'squiggle-banner/index.njk' import squiggleBottom %}
  {{ squiggleBottom(page, gray=false) }}
  <a href="{{conf.path}}adventure/" class="{% className css, 'updates-btn' %}" rel="noopener noreferrer" target="_blank">
    <svg viewBox="0 0 24 24" role="presentation" focusable="false" aria-label="retro gamepad" class="{% className css, 'updates-btn-icon' %}">
      <path d="M21 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-10 7H8v3H6v-3H3v-2h3V8h2v3h3v2zm4.5 2c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4-3c-.83 0-1.5-.67-1.5-1.5S18.67 9 19.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
    </svg>
    Launch CDS Adventure
  </a>
</div>
