.root {
  background: var(--white);
  padding: 0 1em;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: [title] max-content 2.6em [reg] 1fr [extra-links] max-content;
  place-items: center start;
  font-size: 0.8rem;
  z-index: 2;

  @media (min-width: 960px) {
    font-size: 1rem;
  }
}

/*
  This hacks around the sticky header when scrolling into view.
  This could be replaced by scroll-padding once all browsers have support.
*/
@media (min-width: 720px) {
  :target {
    --scroll-padding: 100px;
    margin-top: calc(var(--scroll-padding) * -1);
    padding-top: var(--scroll-padding);
  }
}

.title {
  text-decoration: none;
  margin: 0;
  z-index: 2;

  img {
    width: 95px;
    height: auto;
  }

  @media (min-width: 1024px) {
    img {
      width: 210px;
    }
  }
}

.logo-container {
  width: auto;
  display: flex;
  align-items: center;
  padding: 1.29rem 0;

  @media (min-width: 720px) {
    padding: 0.95rem 0;
  }
}

.logo-mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}

.logo-desk {
  display: none;
  @media (min-width: 1024px) {
    display: initial;
  }
}

.extra-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  grid-column: extra-links;

  .header-btn {
    margin-left: 0.5em;
  }
}

.updates-btn-icon {
  width: 3ch;
  height: auto;
  fill: var(--lightblue);
}
