{% extends 'layouts/main/index.njk' %}

{% block content %}
    {%- set moduleCSS = "/_includes/module.css" -%}
    {% css page, moduleCSS %}

    {%- set fiftyFiftyCss = "/_includes/layouts/fifty-fifty-module/style.css" -%}
    {% css page, fiftyFiftyCss %}

    {%- set contentCss = "/_includes/content.css" -%}
    {% css page, contentCss %}

    <div class="{% className moduleCSS, 'root' %}">
        <div class="{% className fiftyFiftyCss, 'fifty-fifty' %}
                    {% if reverseColsMobile %}{% className fiftyFiftyCss, 'reverse-mobile' %}{% endif %}
                    {% if centerVertically %}{% className fiftyFiftyCss, 'center-vertically' %}{% endif %}">
            <div>
                {% block left %}
                    {%- set moduleCSS = "/_includes/module.css" -%}
                    {% css page, moduleCSS %}

                    {%- set css = "/_includes/layouts/content/style.css" -%}
                    {% css page, css %}

                    <header class="{% className css, 'header' %}">
                        {% block leftBefore %}{% endblock %}

                        <h1 class="{% className moduleCSS, 'heading' %}">{{ title | safe}}</h1>
                        <p class="{% className moduleCSS, 'subheading' %}">{{ subtitle | safe }}</p>

                        {% if description %}
                            <p class="{% className moduleCSS, 'tertiary-text' %}">{{ description | safe}}</p>
                        {% endif %}

                        {% block leftAfter %}{% endblock %}
                    </header>
                {% endblock %}
            </div>
            <div>
                {% block right %}
                    <section class="{% className contentCss, 'content-area' %} {% className contentCss, 'content-area-flush' %}">
                        {% block rightInner %}{{ content | safe }}{% endblock %}
                    </section>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
